<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaHotela</servlet-name>
        <servlet-class>servleti.listaHotela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaSoba</servlet-name>
        <servlet-class>servleti.listaSoba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registracija</servlet-name>
        <servlet-class>servleti.registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logovanje</servlet-name>
        <servlet-class>servleti.logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezSobe</servlet-name>
        <servlet-class>servleti.RezSobe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveraRezervacije</servlet-name>
        <servlet-class>servleti.proveraRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaHotelaMenadzera</servlet-name>
        <servlet-class>servleti.listaHotelaMenadzera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odjava</servlet-name>
        <servlet-class>servleti.odjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>potvrdaRezervacije</servlet-name>
        <servlet-class>servleti.potvrdaRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profil</servlet-name>
        <servlet-class>servleti.profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otkaziRezervaciju</servlet-name>
        <servlet-class>servleti.otkaziRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaIbrisanjeHotela</servlet-name>
        <servlet-class>servleti.izmenaIbrisanjeHotela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniHotel</servlet-name>
        <servlet-class>servleti.izmeniHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajHotel</servlet-name>
        <servlet-class>servleti.dodajHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaIbrisanjeKorisnika</servlet-name>
        <servlet-class>servleti.izmenaIbrisanjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniKorisnika</servlet-name>
        <servlet-class>servleti.izmeniKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajKorisnika</servlet-name>
        <servlet-class>servleti.dodajKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmenaIbrisanjeSoba</servlet-name>
        <servlet-class>servleti.izmenaIbrisanjeSoba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>izmeniSobu</servlet-name>
        <servlet-class>servleti.izmeniSobu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajSobu</servlet-name>
        <servlet-class>servleti.dodajSobu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inputSoba</servlet-name>
        <servlet-class>servleti.inputSoba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inputHotel</servlet-name>
        <servlet-class>servleti.inputHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>podesavanjeProfila</servlet-name>
        <servlet-class>servleti.podesavanjeProfila</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaHotela</servlet-name>
        <url-pattern>/listaHotela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaSoba</servlet-name>
        <url-pattern>/listaSoba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registracija</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logovanje</servlet-name>
        <url-pattern>/logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezSobe</servlet-name>
        <url-pattern>/RezSobe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveraRezervacije</servlet-name>
        <url-pattern>/proveraRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaHotelaMenadzera</servlet-name>
        <url-pattern>/listaHotelaMenadzera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odjava</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>potvrdaRezervacije</servlet-name>
        <url-pattern>/potvrdaRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otkaziRezervaciju</servlet-name>
        <url-pattern>/otkaziRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaIbrisanjeHotela</servlet-name>
        <url-pattern>/izmenaIbrisanjeHotela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniHotel</servlet-name>
        <url-pattern>/izmeniHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajHotel</servlet-name>
        <url-pattern>/dodajHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaIbrisanjeKorisnika</servlet-name>
        <url-pattern>/izmenaIbrisanjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniKorisnika</servlet-name>
        <url-pattern>/izmeniKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajKorisnika</servlet-name>
        <url-pattern>/dodajKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmenaIbrisanjeSoba</servlet-name>
        <url-pattern>/izmenaIbrisanjeSoba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>izmeniSobu</servlet-name>
        <url-pattern>/izmeniSobu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajSobu</servlet-name>
        <url-pattern>/dodajSobu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inputSoba</servlet-name>
        <url-pattern>/inputSoba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inputHotel</servlet-name>
        <url-pattern>/inputHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>podesavanjeProfila</servlet-name>
        <url-pattern>/podesavanjeProfila</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>logovanje.jsp</welcome-file>
    </welcome-file-list>
</web-app>
